body{
    background-color: #333;/*fondo gris oscuro*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.container1{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.container2{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px; }
h1, p{
    background-color: white;
    padding: 10px;
}
