body{
    background-color: rgb(41, 39, 39);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    display: flex;
    text-align: center;
}
.container1{
    background-color: white;
    color: brown;
    border-radius: 4px 4px 3px 2px;
}
.container2{
    background-color: white;
    color: brown;
    border-radius: 4px 4px 3px 2px;
    font-size: larger;
    display: flex;
    text-align: justify center;
}
.container3{
    background-color: white;
    border-radius: 4px 4px 3px 2px;
    display: flex;
}
.container4{
    background-color: white;
    border-radius: 4px 4px 3px 2px;
    color: brown;
    font-size: larger;
    height: auto;
    width: auto;
    text-align: justify center;
}
